@import "tailwindcss";
@plugin '@tailwindcss/typography';

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.ProseMirror li::marker {
  color: currentColor;
}
